@font-face {
  font-family: 'Gothic';
  font-style: normal;
  font-weight: 600;
  src:
    url('../assets/fonts/gothica1-semibold.woff2') format('woff2'),
    url('../assets/fonts/gothica1-semibold.woff') format('woff');
}
