@font-face {
  font-family: 'Akagi Pro';
  font-style: normal;
  font-weight: 600;
  src:
    url('https://s3-us-west-1.amazonaws.com/cdn-ueno-co/fonts/akagi-pro/akagi-pro-medium.woff2') format('woff2'),
    url('https://s3-us-west-1.amazonaws.com/cdn-ueno-co/fonts/akagi-pro/akagi-pro-medium.woff') format('woff');
}
