// Fonts
$font-default: -apple-system, BlinkMacSystemFont, sans-serif;
$font-monospace: Source Code Pro, Consolas, monospace;

// Gsap-tools
$gsap-header: 58px;
$gsap-tools-width: 480px;

// Colors
$color-blue: #3ec2f1;
$color-green: #1de1ae;
$color-red: #ff5350;
$color-grey: #cad5db;

// Breakpoints
$breakpoint: 1020px;
