# Dist output folders
dist/*

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Yarn
yarn-error.log

# OSX Files
.DS_Store

# From react-gh-pages
build/*
src/styles/*
src/components/*
*.css
package-lock.json
