@import '~styles/config';

:export {
  transition: $transition;
}

.range {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;

  padding: 25px;

  width: 100%;

  transition: width $transition;

  &.isExpanded {
    padding-left: 0;

    width: 82.25%;
  }

  @media (max-width: $breakpoint) {
    position: relative;

    padding: 0 25px 0 12.5px;
  }

  &__container {
    position: relative;

    margin-top: auto;
  }

  &__markers {
    @include reset-button;

    position: absolute;
    top: -28px;

    cursor: pointer;

    path { // stylelint-disable-line
      fill: $color-grey;

      transition: fill $transition;
    }

    &:hover {
      path { // stylelint-disable-line
        fill: darken($color-grey, 20%);
      }
    }

    &In {
      left: 0;

      .isExpanding & {
        transition: left $transition / 2;
      }
    }

    &Out {
      right: 0;

      .isExpanding & {
        transition: right $transition / 2;
      }
    }
  }

  &__handle {
    @include reset-button;

    display: inline-block;

    position: absolute;
    top: 50%;
    z-index: 10;

    width: 20px;
    height: 20px;

    cursor: ew-resize;
    user-select: none;

    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.22);

    transform: translate3d(-50%, -50%, 0);

    .isExpanding & {
      transition: left $transition / 2;
    }
  }

  &__input {
    position: relative;

    height: 12px;

    overflow: hidden;
    user-select: none;

    background-color: #f7f9fa;
    border-radius: 12px;

    touch-action: none;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  &__fill {
    display: block;

    position: relative;
    top: 0;
    opacity: 0;

    width: 0;
    height: 100%;

    background-color: $color-blue;
    border-radius: 10px;

    transition: opacity $transition;

    .isExpanding & {
      transition: width $transition / 2;
    }

    .isActive & {
      opacity: 1;
    }
  }
}
