@import '~styles/config';

.range {
  position: absolute;
  bottom: 0;
  z-index: 3;

  padding: 25px;

  width: 100%;

  &__container {
    position: relative;

    margin-top: auto;
  }

  &__markers {
    @include reset-button;

    position: absolute;
    top: -28px;

    cursor: pointer;

    path { // stylelint-disable-line
      fill: #cad5db;

      transition: fill 240ms;
    }

    &:hover {
      path { // stylelint-disable-line
        fill: darken(#cad5db, 20%);
      }
    }

    &In {
      left: 0;
    }

    &Out {
      right: 0;
    }
  }

  &__handle {
    @include reset-button;

    display: inline-block;

    position: absolute;
    top: 50%;
    z-index: 10;

    width: 20px;
    height: 20px;

    cursor: ew-resize;
    user-select: none;

    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.22);

    transform: translate3d(-50%, -50%, 0);
  }

  &__input {
    position: relative;

    height: 12px;

    overflow: hidden;
    user-select: none;

    background-color: #f7f9fa;
    border-radius: 12px;

    touch-action: none;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  &__fill {
    display: block;

    position: relative;
    top: 0;
    opacity: 0;

    width: 0;
    height: 100%;

    background-color: $color-blue;
    border-radius: 10px;

    transition: opacity 240ms;

    .isActive & {
      opacity: 1;
    }
  }
}
