@import '~styles/config';

.header {
  display: flex;
  align-items: center;

  padding-left: 25px;
  padding-right: 25px;

  height: $gsap-header;

  font-size: 14px;
  color: #fff;

  cursor: move;
  cursor: grab;

  background-color: #000;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.14);

  &:active {
    cursor: grabbing;
  }

  @media (min-width: $gsap-tools-width) {
    font-size: 16px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__select {
    @include reset-input;

    padding-right: 30px;

    color: inherit;

    letter-spacing: -0.025em;

    cursor: pointer;

    background-color: transparent;

    &Empty {
      opacity: 0.6;
      font-style: italic;

      cursor: default;
    }
  }

  &__arrowDown {
    margin-left: -20px;

    pointer-events: none;
  }

  &__duration {
    margin-left: auto;

    color: #fff;
    font-family: $font-monospace;
    font-size: 14px;
    letter-spacing: -0.05em;
    font-weight: 600;

    white-space: nowrap;

    span { // stylelint-disable-line
      opacity: 0.6;
    }
  }

  &__scale {
    @include reset-input;

    padding: 1px 5px;
    margin-left: 15px;

    color: #000;
    font-size: 12px;
    font-weight: 600;

    cursor: pointer;

    background-color: #fff;
    border-radius: 2px;
  }

  &__cross {
    @include reset-button;

    display: flex;

    padding: 15px;
    margin-left: 5px;
    margin-right: -15px;

    cursor: pointer;
  }
}
