@import '~styles/config';

.controls {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 25px;

  &.isExpanded {
    position: absolute;
    bottom: -6px;
    left: 0;
    z-index: 3;

    width: 17.75%;
  }

  &__container {
    display: flex;
    align-items: center;

    margin-top: 30px;

    .isExpanded & {
      margin-top: 0;
    }
  }

  &__rewind,
  &__playPause,
  &__loop {
    @include reset-button;

    display: flex;

    cursor: pointer;

    pointer-events: none;

    path { // stylelint-disable-line
      transition: fill 240ms;

      fill: #cad5db;
    }

    &:hover {
      path { // stylelint-disable-line
        fill: darken(#cad5db, 20%);
      }
    }

    .isActive & {
      pointer-events: all;

      fill: #cad5db;
    }
  }

  &__rewind {
    margin-right: 40px;

    .isExpanded & {
      position: relative;
      left: -2px;

      margin-right: 20px;

      height: 16px;
    }
  }

  &__playPause {
    justify-content: center;

    width: 40px;
    height: 40px;

    svg { // stylelint-disable-line
      width: auto;
      height: 39px;
    }

    .isActive & {
      path { // stylelint-disable-line
        fill: #000;
      }
    }

    .isExpanded & {
      margin-top: 2px;

      width: 28px;
      height: 28px;

      svg { // stylelint-disable-line
        height: 27px;
      }
    }
  }

  &__loop {
    margin-left: 40px;
    margin-right: auto;

    .isActive.isLoop & {
      path { // stylelint-disable-line
        fill: #000;
      }
    }

    .isExpanded & {
      margin-left: 20px;

      height: 16px;
    }
  }
}
