@import '~styles/config';

.controls {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 30px;

  &__rewind,
  &__playPause,
  &__loop {
    @include reset-button;

    display: flex;

    cursor: pointer;

    pointer-events: none;

    path { // stylelint-disable-line
      transition: fill 240ms;

      fill: #cad5db;
    }

    .isActive & {
      pointer-events: all;

      fill: #cad5db;
    }
  }

  &__rewind {
    margin-right: 40px;

    &:hover {
      path { // stylelint-disable-line
        fill: darken(#cad5db, 20%);
      }
    }
  }

  &__playPause {
    justify-content: center;

    width: 32px;
    height: 32px;

    .isActive & {
      path { // stylelint-disable-line
        fill: #000;
      }
    }
  }

  &__loop {
    margin-left: 40px;

    .isLoop & {
      path { // stylelint-disable-line
        fill: #000;
      }
    }

    &:hover {
      path { // stylelint-disable-line
        fill: darken(#cad5db, 20%);
      }
    }
  }
}
