@import '../../styles/config.scss';

.code {
  @include responsive-font(14, 16);

  opacity: 0;

  height: 0;

  line-height: (22 / 16);

  user-select: none;
  pointer-events: none;

  will-change: opacity;
  transition: opacity $transition-enter;

  &--visible {
    opacity: 1;

    margin-bottom: (60/16) * 1em;

    height: auto;

    user-select: auto;
    pointer-events: auto;
  }
}
