// Body
@font-face {
  font-family: Akagi;
  font-style: normal;
  font-weight: 200;
  src:
    url('https://s3-us-west-1.amazonaws.com/cdn-ueno-co/fonts/akagi-pro/akagi-pro-light.woff2') format('woff2'),
    url('https://s3-us-west-1.amazonaws.com/cdn-ueno-co/fonts/akagi-pro/akagi-pro-light.woff') format('woff');
}

@font-face {
  font-family: Akagi;
  font-style: normal;
  font-weight: 300;
  src:
    url('https://s3-us-west-1.amazonaws.com/cdn-ueno-co/fonts/akagi-pro/akagi-pro-book.woff2') format('woff2'),
    url('https://s3-us-west-1.amazonaws.com/cdn-ueno-co/fonts/akagi-pro/akagi-pro-book.woff') format('woff');
}

@font-face {
  font-family: Akagi;
  font-style: normal;
  font-weight: 500;
  src:
    url('https://s3-us-west-1.amazonaws.com/cdn-ueno-co/fonts/akagi-pro/akagi-pro-medium.woff2') format('woff2'),
    url('https://s3-us-west-1.amazonaws.com/cdn-ueno-co/fonts/akagi-pro/akagi-pro-medium.woff') format('woff');
}

@font-face {
  font-family: Akagi;
  font-style: normal;
  font-weight: 600;
  src:
    url('https://s3-us-west-1.amazonaws.com/cdn-ueno-co/fonts/akagi-pro/akagi-pro-medium.woff2') format('woff2'),
    url('https://s3-us-west-1.amazonaws.com/cdn-ueno-co/fonts/akagi-pro/akagi-pro-medium.woff') format('woff');
}

@font-face {
  font-family: Akagi;
  font-style: normal;
  font-weight: 700;
  src:
    url('https://s3-us-west-1.amazonaws.com/cdn-ueno-co/fonts/akagi-pro/akagi-pro-bold.woff2') format('woff2'),
    url('https://s3-us-west-1.amazonaws.com/cdn-ueno-co/fonts/akagi-pro/akagi-pro-bold.woff') format('woff');
}

// Heading
@font-face {
  font-family: Tisa;
  font-style: normal;
  font-weight: 100;
  src:
    url('https://s3-us-west-1.amazonaws.com/cdn-ueno-co/fonts/tisa-pro/tisa-pro-thin.woff2') format('woff2'),
    url('https://s3-us-west-1.amazonaws.com/cdn-ueno-co/fonts/tisa-pro/tisa-pro-thin.woff') format('woff');
}

@font-face {
  font-family: Tisa;
  font-style: normal;
  font-weight: 200;
  src:
    url('https://s3-us-west-1.amazonaws.com/cdn-ueno-co/fonts/tisa-pro/tisa-pro-light.woff2') format('woff2'),
    url('https://s3-us-west-1.amazonaws.com/cdn-ueno-co/fonts/tisa-pro/tisa-pro-light.woff') format('woff');
}
