$gutter: 30px;
$container-gutter-mobile: $gutter;
$container-gutter-tablet: 50px;
$container-gutter-desktop: 70px;

// grid
$grid-column-count: 12;

// page dimensions
$page-width: 1290px;
$page-limit: $page-width + ($container-gutter-desktop * 2);

// Fonts
$font-family: 'Akagi', sans-serif;
$font-family-serif: 'Tisa', serif;
$font-family-heading: $font-family-serif;
$font-family-code: Monaco, monospace;

$font-size: 20px;
$font-size-min: 16px;
$line-height: (32/strip-unit($font-size));

// Colors
$color-font: #333;
$color-background: #fff;
$color-placeholder: #ddd;
$color-grey: #9ea0a6;

// Timings
$transition-enter: 200ms;

// Breakpoints
$min-mobile: 420px;
$min-tablet: 720px;
$min-desktop: 1200px;
