@import '../../styles/config.scss';

.content {
  position: relative;

  overflow: hidden;

  @media (min-width: $min-desktop) {
    background: #fff;
  }

  &__col {
    @include grid-col;

    @media (min-width: $min-tablet) {
      position: relative;

      margin-left: percentage(1/12);
      width: percentage(10/12);
    }

  }

  &--hasBackground {
    background: #f9f9f9;

    @media (min-width: $min-desktop) {
      background: #fff;
    }
  }

  &--hasBackground &__col::before {
    content: '';

    display: none;

    position: absolute;
    top: 0;
    left: $gutter / 2;
    bottom: 0;
    z-index: 0;

    width: 100vw;

    pointer-events: none;
    user-select: none;

    background: #f9f9f9;

    @media (min-width: $min-desktop) {
      display: block;
    }
  }

  &__inner {
    position: relative;
    z-index: 1;

    padding: percentage(100px/$page-width) 0;

    @media (min-width: $min-desktop) {
      padding: 100px calc(#{percentage(80/1100)} + #{$gutter});
    }

    @media (min-width: $page-limit) {
      padding: 100px 110px;
    }
  }

  &__heading {
    @include heading;
  }

  &__subheading {
    @include subheading;

    @media (min-width: $min-tablet) {
      max-width: (410px/38px) * 1em;
    }
  }

  &__copy {
    @include reset-all;

    margin-bottom: (100px / $font-size) * 1em;

    @media (min-width: $min-tablet) {
      max-width: (600px/$font-size) * 1em;
    }

    @media (min-width: $min-desktop) {
      max-width: (410px/$font-size) * 1em;
    }
  }

  > p { // stylelint-disable-line
    margin-top: 0;
    margin-bottom: (40px / $font-size) * 1em;
  }
}
