@import '../../styles/config.scss';

.content {
  position: relative;

  overflow: hidden;

  &__col {
    @include grid-col;

    @media (min-width: $min-tablet) {
      position: relative;

      margin-left: percentage(1/12);
      width: percentage(10/12);
    }
  }

  &--hasBackground {
    background: #f9f9f9;

    @media (min-width: $min-tablet) {
      transform: translateY(-80px);
    }

    @media (min-width: $min-desktop) {
      background: transparent;

      transform: translateY(-100px);
    }
  }

  &--hasBackground &__col::before {
    content: '';

    display: none;

    position: absolute;
    top: 0;
    left: $gutter / 2;
    bottom: 0;
    z-index: 0;

    width: 100vw;

    pointer-events: none;
    user-select: none;

    background: #f9f9f9;

    @media (min-width: $min-desktop) {
      display: block;
    }
  }

  &__inner {
    position: relative;
    z-index: 1;

    padding: percentage(200px/$page-width) 0;

    @media (min-width: $min-desktop) {
      padding: 100px calc(#{percentage(80/1100)} + #{$gutter});
    }

    @media (min-width: $page-limit) {
      padding: 100px 110px;
    }
  }

  &__heading {
    @include heading;
  }

  &__subheading {
    @include subheading;

    @media (min-width: $min-tablet) {
      max-width: (438px/38px) * 1em; // haha. line-breaks first subheading, doesnt break second. "perfect"
    }
  }

  &__copy {
    @include reset-all;

    margin-bottom: (60px / $font-size) * 1em;

    @media (min-width: $min-tablet) {
      max-width: (600px/$font-size) * 1em;
    }

    @media (min-width: $min-desktop) {
      max-width: (410px/$font-size) * 1em;
    }
  }

  > p { // stylelint-disable-line
    margin-top: 0;
    margin-bottom: (40px / $font-size) * 1em;
  }

  a { // stylelint-disable-line
    @include reset-anchor;
    @include link;
  }

  ol {
    @include reset-list;
    @include responsive-font(15, 18);

    opacity: 0.75;

    list-style: decimal;
  }
}
