/* stylelint-disable selector-max-type */
@import '../../styles/config.scss';

.copy {
  p,
  ul,
  ol {
    @include reset-all;

    margin-bottom: (40px/$font-size) * 1em;
  }

  b {
    font-weight: 500;
  }

  button {
    @include reset-button;

    position: relative;

    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      bottom: 0.4ex;
      left: 0;
      right: 0;

      height: 1px;

      background: $color-font;
    }

    @media (pointer: fine) {
      &:hover::after {
        background: transparent;
      }
    }
  }
}
