@import '~styles/config';

.gsapTools {
  width: $gsap-tools-width;
  max-width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;

  transition: width 240ms;

  &Fixed {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 9999;
  }

  &.isExpand {
    width: 960px;
  }

  *,
  & *::before,
  & *::after {
    box-sizing: inherit;
  }

  &__container {
    position: relative;
  }

  &__box {
    position: relative;
    z-index: 9998;

    opacity: 0;
    overflow: hidden;

    height: 260px;

    font-family: $font-default;
    font-weight: 500;

    user-select: none;
    pointer-events: none;

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.12);

    &.isLoaded {
      transition: transform 180ms, opacity 180ms, height 240ms;
      transform: scale(0.6);
      transform-origin: 100% 100%;
    }

    &.onClick {
      transform-origin: 50%;
    }

    &.isVisible {
      opacity: 1;

      pointer-events: all;

      transform: scale(1);
    }

    .isExpand & {
      height: 380px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;

    padding: 25px;

    height: calc(100% - #{$gsap-header});
  }
}
