@import '~styles/config';

.button {
  @include reset-button;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 0;
  bottom: 0;

  width: $gsap-header;
  height: $gsap-header;

  color: #fff;
  font-size: 14px;

  text-transform: uppercase;

  cursor: pointer;
  pointer-events: auto;

  background: #000;
  border-radius: 50%;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.12);

  transition: transform 160ms, opacity 160ms;
  transform: scale(1);

  &.visible {
    z-index: 9997;

    opacity: 0;

    pointer-events: none;

    transform: scale(0.6);
  }
}
