@import '~styles/config';

.timeline {
  width: 100%;
  height: calc(100% - #{$gsap-header});

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 160px;

    pointer-events: none;

    background-image: linear-gradient(to bottom, rgba(#fff, 0), #fff 65%);
  }

  .isExpanded & {
    opacity: 0;
  }

  &__elements {
    position: relative;
    z-index: 1;

    height: 100%;
  }

  &__list {
    @include reset-list;

    position: relative;
    z-index: 1;

    padding: 35px 25px 100px;

    height: 100%;

    overflow-y: scroll;
  }

  &__row {
    display: flex;

    margin-bottom: 30px;
  }

  &__target {
    @include reset-paragraph;

    max-width: 130px;

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 14px;
    color: #000;

    span:nth-child(1) { // stylelint-disable-line
      opacity: 0.4;
    }

    span:nth-child(2) { // stylelint-disable-line
      color: $color-red;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 175px;

    margin-top: -8px;
  }

  &__infos {
    display: flex;
    justify-content: space-between;

    margin-bottom: 3px;
  }

  &__properties {
    @include reset-paragraph;

    padding-left: 2px;

    font-size: 10px;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__duration {
    @include reset-paragraph;

    opacity: 0.6;

    padding-left: 8px;
    padding-right: 4px;

    font-size: 10px;
    color: #999;
    text-align: right;
  }

  &__bar {
    height: 8px;

    border-radius: 8px;
    background-color: $color-green;
  }

  &__grid {
    position: absolute;
    top: $gsap-header;
    right: 0;
    bottom: 0;
    left: 150px;

    overflow: hidden;
    pointer-events: none;

    background-image:
      linear-gradient(to right, rgba(#fff, 0) 98%, #f2f4f5 98%),
      linear-gradient(to right, rgba(#fff, 0) 98%, rgba(#fff, 0.15) 98%);

    background-size: 26px;
  }
}
