/* stylelint-disable selector-max-type, selector-no-qualifying-type, max-nesting-depth */
@import '../../styles/config.scss';

.reference {
  padding-top: percentage(40/850);

  code {
    font-size: 0.85em;
  }

  p {
    margin-bottom: ($gutter / $font-size) * 1em;
  }

  ul {
    @include reset-list;

    margin-bottom: 3em;

    line-height: 2.5;

    @media (min-width: $min-mobile) {
      display: flex;
      flex-wrap: wrap;

      &[data-name='list'] {
        padding-left: 1em;

        li::before {
          content: '\2013';

          position: absolute;

          margin-left: -20px;

          color: #cacaca;
        }
      }

      &[data-name='shortcuts'] {
        max-width: (500px/$font-size) * 1em;

        li {
          flex: none;

          display: flex;
          align-items: center;

          width: 50%;
        }
      }
    }

    code {
      display: block;

      margin-right: 0.5em;

      padding: 0 0.5em;
      line-height: 1.25;

      color: rgba(#000, 0.85);

      border: 1px solid rgba(#000, 0.1);
      border-radius: 3px;
      background: #fff;
    }
  }
}
